node_modules
.next
.git
.gitignore
Dockerfile
compose*.yml
docker-compose*.yml

.env
.env.*
!.env.example
!.env.docker.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

storage
public/uploads/*
!public/uploads/.gitkeep

README.md